# Laravel
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.*
.env copy
.phpunit.result.cache

# Laravel Homestead
Homestead.json
Homestead.yaml

# Logs
npm-debug.log
yarn-error.log

# Docker
Dockerfile
docker-compose.yml
.dockerfile
.docker-compose.yml
*.docker
docker/

# Outros arquivos sensíveis
*.backup
*.pem
*.crt
*.key

# IDE / Sistema
.idea/
.vscode/
.DS_Store
Thumbs.db
